@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  user-select: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

img {
  overflow: hidden;
  pointer-events: none;
  scroll-behavior: none;
}

p {
  overflow: hidden;
}

.cropped1 {
  width: 100px; /* width of container */
  height: 100px; /* height of container */
  object-fit: cover;
  border: 5px solid black;
}
